---
Checks:          'boost-*,bugprone-*,performance-*,readability-*,portability-*,modernize-*,clang-analyzer-*,cppcoreguidelines-*'
WarningsAsErrors: 'Readability-redundant-control-flow,Readability-implicit-bool-conversion,Cppcoreguidelines-init-variables,Modernize-deprecated-headers,Readability-braces-around-statements,readability-container-size-empty,Bugprone-narrowing-conversions,Readability-delete-null-pointer,Bugprone-forward-declaration-namespace,Performance-faster-string-find,Readability-inconsistent-declaration-parameter-name,Readability-misleading-indentation,Readability-const-return-type,Clang-diagnostic-unused-parameter,Bugprone-exception-escape,Performance-inefficient-algorithm,Performance-inefficient-string-concatenation,'
HeaderFilterRegex: '-*'
SystemHeaders    : '-*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            clayderman
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
...

